body {
    background-color: #1cb8b0;
    color: #fff;
    font-family: Arial, sans-serif;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .form-control {
    background-color: #fff;
    color: #333;
  }
  
  .btn-primary {
    background-color: #5c6bc0;
    border-color: #5c6bc0;
  }
  
  .btn-primary:hover {
    background-color: #3f51b5;
    border-color: #3f51b5;
  }
  
  .custom-file-label::after {
    background-color: #fff;
  }
  
  .custom-file-label::after:hover {
    background-color: #2424d0;
  }